
.heading img {
  float:left;
  width:150px;
  height:150px;
  margin-top:20px;


}

.nav-position{
	position: fixed;
	width:97%;

}
.landing-page{
	background-image: url(../img/backgroundimg.png);
	background-repeat: no-repeat;
	background-size:cover; 
	margin-top: 25px;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 30px;
}
.container_12
{
margin-top:10px;
}
.vibrant-style
{
color:#e9ab18;
}
.future-style
{
	color:#B3B6B7;
}
.para-style
{
color:#cc0066;
text-align: justify;
font-family: 'Roboto', sans-serif;
font-size: 17px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    position: fixed;
   
}
.hero-style
{
	font-family: 'Roboto', sans-serif;
    font:sans-serif;
	font-size: 65px;
	text-align:center; 
	text-shadow: 7px 7px 7px red;

	
}
.hero-description
{
	color:#800000;
	margin: 0;
	text-align: justify;
    font-family: 'Roboto', sans-serif;
}
.overview-heading
{
	 font-family:'Lobster', cursive;
	 font-size: 65px; 
	color:#ffff00; 
	margin-top: 25px;
	text-align:center; 
	letter-spacing: 6px;
}
.overview-style
{
	background-image: url(../img/book.png);
	background-repeat: no-repeat;
	background-size:cover;
	padding-bottom: 20px;
}
.list-style
{
font-style: initial;
font-size: 15px;
background-color: black;
font-family: 'Roboto', sans-serif;
font:sans-serif;
width:99%; 
}
.about-style
{
	font-family:'Indie Flower', cursive;
	 color:#e9ab18;
}
.overview-para
{
	text-align:justify; 
	color:#cc0066; 
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
}
.visit-style
{
	background-image: url(../img/clg.jpeg);
	background-repeat: no-repeat;
	background-size:cover;
}
.visit-heading
{
	font-family:'Lobster', cursive; 
	font-size: 65px; 
	color:330033;
	text-align:center;
}
.schedule-style
{
	font-family:'Indie Flower', cursive; 
	color:#993300;
}
.schedule-para
{
	text-align:justify; 
	color:#cc0066; 
	font-size: 25px;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;#28426b

}

li a:hover:not(.active) {
    background-color: #28426b;
}

.heading-class
{
	font-family:'Lobster', cursive; 
	font-size: 50px;
	letter-spacing: 5px;
	text-shadow: 7px 7px 7px red;
	text-align: center;
}
.hero-class{
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
   background-color:#e3e3e3;
}

.hero-image
{
    background-repeat: no-repeat;
    background-size:cover;
    width:945px;
    height:50%;
    padding-left: 270px;
    padding-right: 230px;
	display: inline-block;

}

 .overview-image
 {
    margin-left: 10px;
    margin-top: 50px;
    height:590px;
    width:400px;

 }
 .footer {
	width: 100%;
	height:100%;
	clear: both;
    background: #eae9e9;
	margin: 0 auto; 

}
.footer-class
{
	font-family: 'Lobster', cursive;

}
.footer .container_12 .footer-align a
{
	display:block;
}

/*
.connect-with-us
{
	color: blue; 
	font-size: 25px;
}*/
.contact-class
{
	color:blue;
	display:block;
	text-decoration: none;
	font-size:19px;
}

.education-style
{
	color: grey; 
	text-align:center;
	margin-left: 180px;
	margin-right: 180px;
}
footer a
{
	color:blue;
	display: block;
	text-decoration: none;

}
.campus-style
{
color:#e9ab18;
text-align: center;
font-size:40px;
font-family:'Lobster', cursive;
}
.grid_4 a
{
	color:blue;
	display:inline;
	text-decoration: none;
	font-size: 20px;
	padding-right: 3px;
}
.grid_4 a:hover
{
	text-decoration-line: underline;
}
