
.header img {
  float:left;
  width:150px;
  height:150px;
  margin-top: 20px;

}

.position{
	position: fixed;
}
.con1{
	background-image: url(/img/bgimg.jpeg);
	background-repeat: no-repeat;
	background-size:cover; 
}
.vib
{
color:#e9ab18;
}
.future
{
	color:#B3B6B7;
}
.para
{
color:#ECF0F1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    position: fixed;
    width: 100%;
}
.clg
{
	font-family:'Tangerine', serif; 
	font-size: 65px;
	text-align:center; 
	letter-spacing: 3px;
}
.descrip
{
	color:#4d0000;
}
.over_head
{
	 font-family:'Lobster', cursive;
	 font-size: 65px; 
	color:#ffff00; 
	margin-top: 5px;
	text-align:center; 
	letter-spacing: 6px;
}
.over
{
	background-image: url(/img/book.jpeg);
	background-repeat: no-repeat;
	background-size:cover;
}
.fontst
{
font-style: initial;
font-size: 28px;
font-family:'Tangerine', serif;
background-color: black;
}
.about
{
	font-family:'Indie Flower', cursive;
	 color:#e9ab18;
}
.over_para
{
	text-align:left; 
	color:#ECF0F1; 
	font-size: 15px;
}
.visit
{
	background-image: url(/img/clg.jpeg);
	background-repeat: no-repeat;
	background-size:cover;
}
.visit_head
{
	font-family:'Lobster', cursive; 
	font-size: 65px; 
	color:330033;
	text-align:center;
}
.schedule
{
	font-family:'Indie Flower', cursive; 
	color:#993300;
}
.schedule_para
{
	text-align:left; 
	color:#cc0066; 
	font-size: 25px;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover:not(.active) {
    background-color: #111;
}
.log
{
	 margin-top:2px;
}
.hd1
{
	font-family:'Lobster', cursive; 
	font-size: 50px;
	letter-spacing: 5px;
	text-shadow: 7px 7px 7px red;
}
.hero{
    padding: 60px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.cenimg
{
    background-repeat: no-repeat;
    background-size:cover;
    margin-left: 300px;
     background-position: center;
 }

 .rowimage
 {
    margin-left: 10px;
    margin-top: 50px;
    height:500px;
    width:450px;

 }
 #footer {
	width: 100%;
	height:100%;
	clear: both;
    background: #eae9e9;
	margin: 0 auto; 

}
.foot
{
	font-family: 'Lobster', cursive;
}
.contact_us
{
	color: blue;
}
.connect_with_us
{
	color: blue; 
	font-size: 25px;
}
.copy
{
	background-color:black; 
	height:50px; 
}
.copy_foot
{
	color:grey;
	 float:right;
	  margin-top: 2px;"
}